
@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
:root {
    /* fonts */
    --font-text: 'Karla', san serif;
    --font-heading: 'Kumbh Sans', san serif;
    --font-nav: 'Bayon', san serif;
    
    /* colors */
    --text-color: #483221;
    --bg-color: #fff
    --bg-gradient: linear-gradient(180deg, #FFC498 0%, #FFD88C 28.65%, #FFD88C 61.98%, #FCE5AC 81.25%, #FFF 98.95%, #FFF 98.96%);

  /* media queries max width
    sm:	 ≥576px
 	md:  ≥768px
    lg:	 ≥992px
    xl:  ≥1200px
    xxl: ≥1400px
    */

  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
    color: var(--text-color);
    background-color: var(--bg-color);
}
.heading {
    font-family: 'Kumbh Sans', san serif;
    font-weight: 800;
}