#navbar {
  color: var(--text-color);
  font-family: var(--font-nav);
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem 1rem 2rem;
  position: sticky;
  z-index: 5;
}
.menu {
  margin-top: auto;
  margin-bottom: auto;
  z-index: 3;
  margin-right: 2rem;
}
.wrapper {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  position: fixed;
  z-index: -1;
  background-image: var(--bg-gradient);
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  transition: all 0.8s ease-in-out;
}
#active:checked ~ .wrapper {
  right: 0;
}
.menu-btn {
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn::before,
.menu-btn::after {
  display: block;
  background-color: var(--text-color);
  height: 4px;
  width: 2.5rem;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.menu-btn::before {
  content: "";
  transform: translateY(-5px);
}
.menu-btn::after {
  content: "";
  transform: translateY(5px);
}
#active:checked + .menu-btn span {
  opacity: 0;
}
#active:checked + .menu-btn:before {
  transform: rotate(-45deg) translate(-7px, 0px);
}
#active:checked + .menu-btn:after {
  transform: rotate(45deg) translate(-5.5px, 2px);
}
input[type="checkbox"] {
  display: none;
}
.menu-router.nuxt-link-exact-active {
  color: var(--text-color);
  border-bottom: 3px solid var(--text-color);
}
